---
import { CollectionEntry } from "astro:content";

export interface Props {
    seed: CollectionEntry<'seeds'>;
    classes: string;
}

const { seed, classes } = Astro.props;

const getIcon = (status) => {
    let icon = '';
    switch (status) {
        case 'budding':
            icon = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"><path d="M26 13a4.005 4.005 0 0 0 4-4V6h-3a3.979 3.979 0 0 0-2.747 1.106A6.004 6.004 0 0 0 19 4h-3v3a6.007 6.007 0 0 0 6 6h1v13H11v-5h1a4.005 4.005 0 0 0 4-4v-3h-3a3.979 3.979 0 0 0-2.747 1.106A6.004 6.004 0 0 0 5 12H2v3a6.007 6.007 0 0 0 6 6h1v5H2v2h28v-2h-5V13zm-1-3a2.002 2.002 0 0 1 2-2h1v1a2.002 2.002 0 0 1-2 2h-1zm-14 8a2.002 2.002 0 0 1 2-2h1v1a2.002 2.002 0 0 1-2 2h-1zm-2 1H8a4.005 4.005 0 0 1-4-4v-1h1a4.005 4.005 0 0 1 4 4zm14-8h-1a4.005 4.005 0 0 1-4-4V6h1a4.005 4.005 0 0 1 4 4z" fill="currentColor"></path></svg>'
            break;
        case 'evergreen':
            icon = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"><path d="M12 30H9v-2h3V15.566l-3.515-2.109l1.03-1.714l3.514 2.108A2.011 2.011 0 0 1 14 15.566V28a2.002 2.002 0 0 1-2 2z" fill="currentColor"></path><path d="M22 30h-3a2.002 2.002 0 0 1-2-2V17h6a4 4 0 0 0 3.981-4.396A4.149 4.149 0 0 0 22.785 9h-1.583l-.177-.779C20.452 5.696 18.031 4 15 4a6.02 6.02 0 0 0-5.441 3.486l-.309.667l-.863-.114A2.771 2.771 0 0 0 8 8a4 4 0 1 0 0 8v2A6 6 0 1 1 8 6l.079.001A8.027 8.027 0 0 1 15 2c3.679 0 6.692 1.978 7.752 5h.033a6.164 6.164 0 0 1 6.187 5.414A6.001 6.001 0 0 1 23 19h-4v9h3z" fill="currentColor"></path></svg>'
            break;
        default:
            icon = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><path d="M64 96H0c0 123.7 100.3 224 224 224v144c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V320C288 196.3 187.7 96 64 96zm384-64c-84.2 0-157.4 46.5-195.7 115.2c27.7 30.2 48.2 66.9 59 107.6C424 243.1 512 147.9 512 32h-64z" fill="currentColor"></path></svg>'
            break;
    }
    return icon;
}
---
<div class={`px-5 py-5 text-gray-200 bg-slate-700 transition transform border border-gray-100 rounded-lg cursor-pointer hover:text-gray-200 hover:bg-slate-600 ${classes}`} >
    <h4 class="flex items-center text-sm font-bold hover:text-dodgerblue-400 text-gray-200" transition:persist={seed.data.title}
    transition:animate="initial"  >
        <div class="w-4 h-4 mr-1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024"><path d="M574 665.4a8.03 8.03 0 0 0-11.3 0L446.5 781.6c-53.8 53.8-144.6 59.5-204 0c-59.5-59.5-53.8-150.2 0-204l116.2-116.2c3.1-3.1 3.1-8.2 0-11.3l-39.8-39.8a8.03 8.03 0 0 0-11.3 0L191.4 526.5c-84.6 84.6-84.6 221.5 0 306s221.5 84.6 306 0l116.2-116.2c3.1-3.1 3.1-8.2 0-11.3L574 665.4zm258.6-474c-84.6-84.6-221.5-84.6-306 0L410.3 307.6a8.03 8.03 0 0 0 0 11.3l39.7 39.7c3.1 3.1 8.2 3.1 11.3 0l116.2-116.2c53.8-53.8 144.6-59.5 204 0c59.5 59.5 53.8 150.2 0 204L665.3 562.6a8.03 8.03 0 0 0 0 11.3l39.8 39.8c3.1 3.1 8.2 3.1 11.3 0l116.2-116.2c84.5-84.6 84.5-221.5 0-306.1zM610.1 372.3a8.03 8.03 0 0 0-11.3 0L372.3 598.7a8.03 8.03 0 0 0 0 11.3l39.6 39.6c3.1 3.1 8.2 3.1 11.3 0l226.4-226.4c3.1-3.1 3.1-8.2 0-11.3l-39.5-39.6z" fill="currentColor"></path></svg>
        </div>
        <a href={`/garden/seeds/${seed.slug}`} class="block text-gray-200"  >{seed.data.title} </a>
    </h4>
    { seed.data.description && <p class="mt-2 text-sm"> {seed.data.description} </p>}
    <div class="flex items-center justify-between ">
        <div class="text-left language-container">
            <div class="space-x-2 "> { seed.data.tags && seed.data.tags.map(tag => (
                <a href={`/garden/tag/${tag}`} class="inline-block py-1 text-xs rounded-md text-accent-500">#{ tag }</a>
            ))}</div>
        </div>
        <div class="text-xs capitalize">
            Lang: { seed.data.language }
        </div>
    </div>
    <div class="divide-y-2 divide-gray-400"></div>
    <div class="flex justify-between text-xs">
        <div>
            { seed.data.planted }
        </div>
        <div class="flex space-x-1 text-green-400 capitalize">
            <span>
                { seed.data.status }:
            </span>
            <span class="w-4 h-4" set:html={getIcon(seed.data.status)} />
        </div>
    </div>
</div>