---
import Header from "../components/Header.vue"
import SmartSeedPreview from "../components/SmartSeedPreview.vue"
import { GardenSeed } from "../types";

const { content } = Astro.props;
const pageTitle = `${content.title} - Jesus Guerrero`
const pageDescription = `${content.description}`

const allSeeds = await import.meta.glob('../pages/garden/seeds/*.md')
let seeds = await Promise.all(
    Object.entries(allSeeds).map(([key, seed]) => {
        const url = key.replace('../pages/garden/seeds/', '/garden/seeds').replace('.md', '/')
        return seed().then(content => ({
            ...content.frontmatter,
            url
        }))
    })
)

seeds = seeds.filter(seed => {
    return seed.astro.source.toLowerCase().includes(content.title.toLowerCase())
});
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{content.title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
    
    <meta name="title" content={pageTitle}>
    <meta name="description" content={pageDescription}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jesusantguerrero.com/">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={pageDescription}>
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jesusantguerrero.com/">
    <meta property="twitter:title" content={pageTitle}>
    <meta property="twitter:description" content={pageDescription}>
    <meta property="twitter:image" content="">
</head>
<body>
    <main>
        <Header client:visible show-logo={true} />
        <article class="px-5 md:px-0 py-20 mx-auto overflow-visible prose">
            <h1 class="mb-1 text-xl font-bold text-gray-400"> {content.frontmatter.title }</h1>
            <div class="md:flex mb-5 md:space-x-5 text-sm text-gray-500">
                <div>Status: <span class="font-bold text-green-500"><i class="fa fa-seedling"/>{content.status}</span> </div>
                <div>PlantDate: <span class="font-bold text-accent-400">{content.planted}</span></div>
                <div>Last Update: <span class="font-bold text-accent-400">{content.checked || content.planted }</span></div>
            </div>
            <section class="text-gray-500 seed-article">
                <slot />
                <SmartSeedPreview client:load />
                { !seeds.length ? null : <div class="mt-5">
                    <h2 class="mb-1 text-xl font-bold text-gray-400">Backlinks</h2>
                    <ul class="list-disc list-inside">
                        {seeds.map(seed => {
                            return <li class="mb-2">
                                <a href={`/garden/seeds/${seed.slug}`} class="text-accent-400">{seed.title}</a>
                            </li>
                        })}
                    </ul>
                }
            </section>
        </article>
    </main>
    <footer class="w-full py-5 text-gray-400 border-t">
        <div class="mx-auto text-xs max-w-7xl">2021 Made with <span class="font-bold text-accent-400">code</span> by <span class="font-bold underline">Jesus Guerrero</span></div>
    </footer>
</body>
</html>

<style lang="scss" global>
.seed-article a, .seed-article .prose a {
    &[href*="/garden/seeds/"] {
        @apply text-dodgerblue-400 font-bold border-dashed border-b no-underline border-dodgerblue-400;
    }
}
</style>