---
import { MarkdownContent } from "astro";
import Header from "../components/Header.vue"
import SmartSeedPreview from "../components/SmartSeedPreview.vue"
import { ViewTransitions } from 'astro:transitions';
import "./../styles/global.css";

const { content } = Astro.props;
const pageTitle = `${content.title} - Jesus Guerrero`
const pageDescription = `${content.description}`

const allSeeds = await import.meta.glob('../pages/garden/seeds/*.md')
let seeds = await Promise.all(
    Object.entries(allSeeds).map(([key, seed]) => {
        const url = key.replace('../pages/garden/seeds/', '/garden/seeds').replace('.md', '/')
        return seed().then((content: MarkdownContent) => {
            return {
                ...content,
                ...content.frontmatter,
                url
            }
        })
    })
)

seeds = seeds.filter(seed => {
    return seed.astro?.source.toLowerCase().includes(content.title.toLowerCase())
});
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{content.title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <meta name="title" content={pageTitle}>
    <meta name="description" content={pageDescription}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jesusantguerrero.com/">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={pageDescription}>
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jesusantguerrero.com/">
    <meta property="twitter:title" content={pageTitle}>
    <meta property="twitter:description" content={pageDescription}>
    <meta property="twitter:image" content="">
    <ViewTransitions />
</head>
<body class="bg-slate-800 text-gray-200">
    <main>
        <Header client:visible show-logo={true} />
        <article class="px-5 md:px-0 py-20 mx-auto overflow-visible prose">
            <h4 class="flex items-center text-lg mt-12 font-bold hover:text-dodgerblue-400 text-accent-400" transition:persist={content.title}
                transition:animate="slide"  >
                    <div class="w-4 h-4 mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024"><path d="M574 665.4a8.03 8.03 0 0 0-11.3 0L446.5 781.6c-53.8 53.8-144.6 59.5-204 0c-59.5-59.5-53.8-150.2 0-204l116.2-116.2c3.1-3.1 3.1-8.2 0-11.3l-39.8-39.8a8.03 8.03 0 0 0-11.3 0L191.4 526.5c-84.6 84.6-84.6 221.5 0 306s221.5 84.6 306 0l116.2-116.2c3.1-3.1 3.1-8.2 0-11.3L574 665.4zm258.6-474c-84.6-84.6-221.5-84.6-306 0L410.3 307.6a8.03 8.03 0 0 0 0 11.3l39.7 39.7c3.1 3.1 8.2 3.1 11.3 0l116.2-116.2c53.8-53.8 144.6-59.5 204 0c59.5 59.5 53.8 150.2 0 204L665.3 562.6a8.03 8.03 0 0 0 0 11.3l39.8 39.8c3.1 3.1 8.2 3.1 11.3 0l116.2-116.2c84.5-84.6 84.5-221.5 0-306.1zM610.1 372.3a8.03 8.03 0 0 0-11.3 0L372.3 598.7a8.03 8.03 0 0 0 0 11.3l39.6 39.6c3.1 3.1 8.2 3.1 11.3 0l226.4-226.4c3.1-3.1 3.1-8.2 0-11.3l-39.5-39.6z" fill="currentColor"></path></svg>
                    </div>
                    <a href={`/garden/seeds/${content.slug}`} class="block text-accent-400"  > {content.title } </a>
                </h4>
            <div class="md:flex mb-5 md:space-x-5 text-sm text-gray-200">
                <div>Status: <span class="font-bold text-green-500"><i class="fa fa-seedling"/>{content.status}</span> </div>
                <div>PlantDate: <span class="font-bold text-accent-400">{content.planted}</span></div>
                <div>Last Update: <span class="font-bold text-accent-400">{content.checked || content.planted }</span></div>
            </div>
            <section class="text-gray-200 seed-article prose-strong:text-gray-300 prose-blockquote:first-letter:text-accent-400 prose-blockquote:text-orange-400 prose-blockquote:border-orange-500 prose-blockquote:bg-orange-50/5 prose-a:text-accent-500 prose-headings:text-accent-400 prose-code:bg-orange-600/20 prose-code:text-orange-600">
                <slot />
                <SmartSeedPreview client:load />
                { !seeds.length ? null : <div class="mt-5">
                    <h2 class="mb-1 text-xl font-bold text-gray-200">Backlinks</h2>
                    <ul class="list-disc list-inside">
                        {seeds.map(seed => {
                            return <li class="mb-2">
                                <a href={`/garden/seeds/${seed.slug}`} class="text-accent-400">{seed.title}</a>
                            </li>
                        })}
                    </ul>
                </div>
                }
            </section>
        </article>
    </main>
    <footer class="w-full py-5 text-gray-400 border-t">
        <div class="mx-auto text-xs max-w-7xl">2021 Made with <span class="font-bold text-accent-400">code</span> by <span class="font-bold underline">Jesus Guerrero</span></div>
    </footer>
</body>
</html>

<style lang="scss" is:global>
.seed-article a, .seed-article .prose a {
    &[href*="/garden/seeds/"] {
        @apply text-dodgerblue-400 font-bold border-dashed border-b no-underline border-dodgerblue-400;
    }
}
</style>